html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/schedule.jpg");
  background-size: cover;
}
.a.navbar-brand{
  font-family: 'Oldenburg', sans-serif;

}

.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.note-textarea, .note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
  background-color:#c5c6c7;
  border-style: inset;
  border-color: #a18781;
  border-radius: 10px;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
  background-color:#eef1f5;
  border-style: inset;
  border-color: #a18781;
  border-radius: 10px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
  background-image: url("../images/sidenote.jpeg");
  border-style: inset;
  border-color: #a18781;
  border-radius: 10px;
}

.note-title:read-only, .note-textarea:read-only {
  color:#c5c6c7;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-image: url("../images/sidenote.jpeg");
  background-size: cover;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color:#e1c6cc;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #c5c6c7;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}
